.video-background {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  overflow: hidden;
  z-index: 0;
}

.video-background__canvas {
  width: 100%;
  height: 100%;
  display: block;
}
